.textfield {
    input {
        padding: 8px 10px;
        width: 100%;
        border: 1px solid $black10;
    }
    
    margin: 20px 0;
}

.textarea-wrapper {
    textarea {
        border: 1px solid $black10;
        width: 100%;
        resize: none;
        padding: 8px 10px;
        height: 100px;
    }
    margin: 20px 0;
}