@font-face {
    font-family: "Akkurat-Mono";
    src: url(../../font/AkkuratMono/Akkurat-Mono.otf);
    src: url(../../font/AkkuratMono/AkkuratMono-Regular.otf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TitlingGothicFB";
    src: url(../../font/TitlingGothicFB/TitlingGothicFBNor-Bold.otf);
    font-weight: 700;
    font-style: bold;
  }
  